#replace values with your own

# VARIABLE = value

# Location of Persistence storage volume
PERSISTENT_VOLUME=/opt/persistence

# IPv6 Adresse of your Tayga Container Host
NAT64_IPV6_ADDR=2001:beef:ca3e::14e

# IPv4 Adresse of your Tayga Container Host
NAT64_IPV4_GW=10.6.46.1

# IPv4 pool used by Tayga when translating IPv6 to IPv4 and back
NAT64_IPV4_POOL=10.6.46.0/24
